.card {
  margin: 1.5rem;
  box-shadow: 3px 2px 8px 2px black;
  opacity: 0.8;
  position: relative;
  transition: all 1s ease-in-out;
  animation: zoomIn 1s;

  &:hover {
    opacity: 1;
  }

  .blur {
    background-color: red;
    z-index: 99;
    .specs {
      position: absolute;
      bottom: 0;
      background-color: rgba(245, 245, 245, 0.7);
      width: 100%;

      p {
        margin: .5rem;
        padding: .3rem;
        font-weight: bold;
        color:bisque;
      }
    }
  }

  .rating-cont {
    position: absolute;
    top: -2rem;
    right: -2rem;

    img {
      width: 4rem;
    }

    span {
      position: absolute;
      left: 0;
      right: 0;
      top: 37%;
      bottom: 50%;
      font-size: 1rem;
    }
  }
}

@keyframes zoomIn {
  from {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }

  50% {
    opacity: 1;
  }
}
