.detail {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5rem;
  .high-part {
    padding: 2rem;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    img {
      border: 3px solid lightcoral;
      border-radius: 1rem;
      padding: 0.3rem;
      box-shadow: 3px 2px 8px 2px black;
    }
    .infos {
      text-align: center;

      p {
        margin: 2rem auto;
      }
    }
  }

  $vav: black;
  
  .low-part {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    text-justify: distribute;

    p:nth-of-type(2) {
      line-height: 2;
    }
    button {
      padding: 1rem;
      border-radius: 1rem;
      margin-top: 5rem;
      font-family: "Montserrat", sans-serif;
      box-shadow: 3px 2px 8px 2px black;
    }
  }
}
